// type your sass here
$main-width: 1366px
$mons-font: 'Montserrat', sans-serif
$nunito-font: 'Nunito Sans', sans

%button-reset 
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible

  background: transparent

  /* inherit font & color from ancestor */
  color: inherit
  font: inherit

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit
  -moz-osx-font-smoothing: inherit

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none

*, *::before, *::after 
  box-sizing: border-box

body
  margin: 0

a
  text-decoration: none

p, h3, ul, h2, li, a
  padding: 0
  margin: 0

.navbar
  margin: 0 auto
  width: 100%
  // padding: 38px 97px
  padding: 38px / $main-width * 100% 97px / $main-width * 100%
  display: flex
  // justify-content: space-between
  background: #ffffff

.logo
  // width: 31px
  // width: 31px / $main-width * 100%
  width: 2.26%

.navlinks
  // width: 300px / $main-width * 100%
  // width: 21.96%
  font-family: $mons-font
  // line-height: 24px * 0.2196

  // height: 9px
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 0.1em
  list-style: none
  padding: 0
  margin-left: auto
  display: flex
  justify-content: space-between
  // background-color: black 

.navlink 
  color: #191919

  &:first-child
    margin-right: 10px 
  
  &:nth-child(2)
    margin-right: 10px / $main-width * 100%
  
  &:last-child
    // margin-right: 10px / $main-width * 100%

.navlink-active
  color: #10c9c3

.header
  margin: 0 auto
  // width: $main-width
  width: 100%
  // padding-top: 101px
  padding-top: 101px / $main-width * 100%
  // padding-bottom: 97px
  padding-bottom: 97px / $main-width * 100%
  background: #eeeeee

.header-title
  // width: 486px
  margin: 0 auto
  text-align: center
  font-family: $mons-font
  font-size: 38px / 16px * 1rem
  line-height: 84px / 16px * 1rem
  font-weight: 500
  letter-spacing: 0.01em
  color: #171717
  margin-bottom: 31px / $main-width * 100%

.header-text
  // width: 532px
  margin: 0 auto
  text-align: center
  font-family: $nunito-font
  font-size: 18px / 16px * 1rem
  line-height: 28px / 16px * 1rem
  font-weight: 400
  letter-spacing: 0.005em
  color: #787878


.blocks
  margin: 0 auto
  // width: $main-width
  width: 100%
  display: flex
  flex-wrap: wrap


.block
  width: 341px / $main-width * 100%
  max-height: 341px / $main-width * 100%
  padding: 135px / $main-width * 100%

  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(8),
  &:nth-child(9),
  &:nth-child(11)
    background-color: #838383
  
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(7),
  &:nth-child(10),
  &:nth-child(12)
    background-color: #dddddd

  &:nth-child(6)
    opacity: 0.85
    background-color: #10c9c3
    padding: 135px / $main-width * 100%
    background-image: url('../img/eye.png')
    background-size: 30%
    background-repeat: no-repeat
    background-position: center

    img
      width: 48px / $main-width * 100%

.footer
  margin: 0 auto
  // width: $main-width
  width: 100%
  background-color: #141414
  padding: 99px / $main-width * 100% 131px / $main-width * 100% 101px / $main-width * 100% 99px / $main-width * 100%
  display: flex
  // justify-content: space-between

.footer-header
  font-family: $mons-font
  font-size: 1.2rem
  font-weight: 500
  letter-spacing: 0.01em
  color: #ffffff
  margin-right: 246px / $main-width * 100%
  margin-bottom: 27px / $main-width * 100%

.footer-center
  margin-right: 145px / $main-width * 100%

.footer-p,
.footer-navlinks-left a,
.footer-navlinks-right a,
.footer-social-networks a
  font-family: $nunito-font
  font-size: 1rem
  line-height: 1.5rem
  font-weight: 400
  letter-spacing: 0.005em
  color: #bcbcbc

.footer-navlinks-left,
.footer-navlinks-right,
.footer-social-networks
  list-style: none

.footer-navlinks
  display: flex

.footer-navlinks-left
  margin-right: 55px / $main-width * 100%

.footer-navlinks-right
  margin-right: 135px / $main-width * 100%
  
.about-header
  // width: $main-width
  background: #141414
  opacity: 0.7

.about-header-title,
.about-header-text
  color: #ffffff


.achievements
  // width: $main-width
  width: 100%
  margin: 0 auto
  background-color: #10c9c3
  display: flex
  justify-content: space-between
  // align-items: center
  padding: 100px / $main-width * 100% 186px / $main-width * 100% 100px / $main-width * 100% 102px / $main-width * 100%

.achievement
  display: flex
  align-items: center

.achievement-logo
  margin-right: 20px / $main-width * 100%

.achievement-text
  font-family: $mons-font
  font-size: .75rem
  line-height: 1.7rem
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 0.1em
  color: #ffffff

  p:first-child
    font-size: 1.2rem
    letter-spacing: 0.03em

.section-about
  width: $main-width
  display: flex
  margin: 0 auto
  background-color: #f5f5f5

.section-about-left
  width: 683px / $main-width * 100%
  // width: 100%
  background-color: #e1e1e1

.section-about-right
  width: 683px / $main-width * 100%
  padding: 80px / $main-width * 100% 140px / $main-width * 100% 80px / $main-width * 100% 86px / $main-width * 100%

.section-about-title
  font-family: $mons-font
  font-size: 2rem
  line-height: 6rem
  font-weight: 500
  letter-spacing: 0.01em
  color: #171717
  margin-bottom: 40px

.section-about-text
  font-family: $nunito-font
  font-size: 1rem
  line-height: 1.5rem
  font-weight: 400
  letter-spacing: 0.005em
  color: #787878
  margin-bottom: 37px / $main-width * 100%

.section-about-image
  width: 223px / $main-width * 100%

.need
  width: $main-width
  margin: 0 auto
  padding-top: 103px / $main-width * 100%
  padding-bottom: 100px / $main-width * 100%
  text-align: center

.need-title
  // margin: 0 auto 35px
  margin-bottom: 35px / $main-width * 100%
  font-family: $mons-font
  font-size: 2rem
  line-height: 84px / $main-width * 100%
  font-weight: 500
  letter-spacing: 0.01em
  color: #1d1d1d

.need-text
  margin: 0 auto 38px / $main-width * 100%
  width: 537px / $main-width * 100%
  font-family: $nunito-font
  font-size: 1rem
  line-height: 1.5rem
  font-weight: 400
  letter-spacing: 0.005em
  color: #787878
  
.need-button
  @extend %button-reset
  width: 180px / $main-width * 100%
  background-color: #10c9c3
  padding: 0px 1rem
  margin: 0 auto
  font-family: $mons-font
  font-size: 1rem
  line-height: 6rem
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 0.1em
  color: #ffffff

@media only screen and ( max-width: 600px)
  .navbar
    display: flex
    flex-direction: column
    align-items: center

  .logo
    align-self: center
    margin-left: -1.5rem
    margin-bottom: 3%

  .navlinks
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    margin-bottom: 4%
    font-size: 1.2rem

  .navlink
    text-align: center
    margin-bottom: 3%
    
    &:first-child
      margin-right: 0 
  
    &:nth-child(2)
      margin-right: 0

  .header-title
    width: 486 / 600 * 100%
    font-size: 1.7rem
    line-height: 4rem

  .header-text
    width: 532 / 600 * 100%
    font-size: 1rem
    line-height: 2rem
    margin-bottom: 2%

  .blocks
    width: 100%
    // display: flex
    justify-content: flex-start
    // display: block

  .block
    // width: 100%
    // height: 45%
    width: 300px / 600px * 100%
    height: 300px / 600px * 100%
    padding: 135px / 600px * 100%

    &:nth-child(3),
    &:nth-child(11)
      background-color: #dddddd

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(12)
      background-color: #838383

    &:nth-child(6)
      background-color: #10c9c3
      padding: 135px / 600px * 100%
      background-image: url('../img/eye.png')
      background-size: 30%
      background-repeat: no-repeat
      background-position: center

@media only screen and (max-width: 820px)
  .footer
    width: 100%
    flex-direction: column
    padding: 50px / 600px * 100% 100px / 600px * 100% 40px / 600px * 100% 60px / 600px * 100%

  .footer-left,
  .footer-center,
  .footer-navlinks-left,
  .footer-navlinks-right
    margin-bottom: 2%